@{ 
    ViewData["title"] = "ผลการอนุมัติ";
    Layout = "CleanLayout";
}

@model ResultViewModel

<div class="text-center"
     style="margin: 30px auto;
    padding: 20px;
    border: 1px solid #cccccc;
    font-size: 1.3em;
    background: white;
    font-weight: bold;
    max-width: 400px;">
    <p style="text-align: center;">@Model.message</p>
</div>