<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li><a asp-controller="Email" asp-action="Index"><i class="fa fa-link"></i> <span>Email</span></a></li>
            <li><a asp-controller="User" asp-action="Index"><i class="fa fa-link"></i> <span>User</span></a></li>
            <li><a asp-controller="Bom" asp-action="Index"><i class="fa fa-link"></i> <span>Bom</span></a></li>   
        </ul>
    </section>
</aside>