@{ 
    ViewData["Title"] = "Error";
    Layout = "CleanLayout";
}

<div class="text-center">
    <h1>Error : @ViewData["Message"]</h1>
</div>

<div class="text-center">
    <a href="@ViewData["LinkBack"]">Back to home.</a>
</div>